<div id="<%= dom_id event %>">

  <div class="card-simple">
    <h4>
      <%= event.title %>
    </h4>
    <p>
      <strong>Description:</strong>
      <%= event.description %>
    </p>
    <p>
      <strong>Date :</strong>
      <%= event.start_date %>
    </p>
    <p>
      <strong>Duration :</strong>
      <%= event.duration %> minutes
    </p>
    <p>
      <strong>Location:</strong>
      <%= event.location %>
    </p>
    <p>
      <%= event.price %> €
    </p>
  </div>
  

  





</div>
